COOKIE_SECRET=${COOKIE_SECRET}
SALT=${SALT}
SERVER_URL=${SERVER_URL}
SERVER_PORT=${SERVER_PORT}
API_URL=${API_URL}
API_PORT=${API_PORT}
LOG_LEVEL=4
POSTGRES=${POSTGRES}
MAILGUN_API_KEY=${MAILGUN_API_KEY}
MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
BH_THES_KEY=${BH_THES_KEY}
GA=${GA}