.ContentEditor {
    display: block;
    section {
        margin-bottom: 5px;
        .btn-toolbar {
            margin-bottom: 5px;
            width: 100%
        }
    }
    margin-bottom: 75px;
}