//@import "mixins.less";
@import "icons.less";

html, body {
    height: 100%;
    width: 100%;
}

// Global styles

h2,.subtitle{
    text-shadow: -1px 1px rgba(0,0,0,0.8);
}

.semi{
    background-color: rgba(0, 0, 0, 0.6);
}

.panel,.well,.jumbotron{
    background-color: rgba(0, 0, 0, 0.6);
}

.single-page{
    margin-top:80px;
}

.navbar-brand{
    cursor: pointer;
 
}

.brand-logo{
   margin-top: -13px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

body {
    background-size: cover;
    background: url(/backgrounds/fantasy_landscape__mountains_by_doppingqnk-d6sq6ee.jpg) no-repeat center center fixed;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus{
    background-color: rgba(0, 0, 0, 0.8);
}

a.list-group-item,button.list-group-item{
   background-color: rgba(0, 0, 0, 0.6);
}

.dim{
    cursor: default;
    color: rgba(255,255,255,0.25);
}