.Home {
    margin-top: 80px;
    .btn-xlarge,
    .btn-xlarge:active {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        font-size: 2.2em;
        min-height: 150px;
        color: #000;
        background-size: cover;
    }
    .b-1 {
        background: url('/buttons/button1.jpg') no-repeat center center;
    }
    .b-2 {
        background: url('/buttons/button3.jpg') no-repeat center center;
    }
        .b-3 {
        background: url('/buttons/button2.jpg') no-repeat center center;
    }
}