.Sidebar {
    h4{
        margin-top: 6px;
        margin-left: 6px;
        margin-bottom: 6px;
    }
    
    display: block;
    padding: 4px;
    width: 300px;
    position: fixed;
    top: 120px;
    left: 0px;
    bottom: 0px;
    right: auto;
    color: #fff;
    background: #000;    
    z-index: 10000;

    .button {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: #000;
        background: #fff;
        border-radius: 50%;
        i {
            margin: 0;
            padding: 0;
        }
    }
    
    .outline{
        position: absolute;
        top: 40px;
        width: 291px;
        bottom: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        cursor: pointer;
        .icon{
            margin-left: 4px;
        }
    }
}
