.Sidebar {
    h4{
        margin-top: 6px;
        margin-left: 6px;
        margin-bottom: 6px;
    }
    display: block;
    padding: 4px;
    width: 300px;
    position: fixed;
    top: 120px;
    bottom: auto;
    right: auto;
    color: #fff;
    background: #000;
    min-height: 100%;
    z-index: 10000;
    .button {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        color: #000;
        background: #fff;
        border-radius: 50%;
        i {
            margin: 0;
            padding: 0;
        }
    }
    .outline{
        padding-top: 4px;
        width: 100%;
    }
}

.Sidebar.closed {
    left: -300px + 8px + 32px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Sidebar.open {
    left: 0px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 0px rgba(0, 0, 0, 0.4);
    .button{
        opacity: 0.5;
    }
    .button:hover{
        opacity: 1;
                 }
}