@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?3hh9tc');
    src:    url('fonts/icomoon.eot?3hh9tc#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?3hh9tc') format('truetype'),
        url('fonts/icomoon.woff?3hh9tc') format('woff'),
        url('fonts/icomoon.svg?3hh9tc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bottom:before {
    content: "\e906";
}
.icon-top:before {
    content: "\e907";
}
.icon-add-column:before {
    content: "\e904";
}
.icon-add-row:before {
    content: "\e905";
}
.icon-column-break:before {
    content: "\e902";
}
.icon-page-break:before {
    content: "\e903";
}
.icon-dragon:before {
    content: "\e900";
}
.icon-goblin:before {
    content: "\e901";
}

