.Module{
    margin-top: 160px;

    .navbar-fixed-top {
        margin-top: 60px;
        z-index: 50;
    }

    
    display: block;

    .edit-name{
        margin-bottom: 10px;
        .btn{
            margin-left: 4px;
        }
    }
    
}
