.Module{
    margin-top: 160px;

    .navbar-fixed-top {
        margin-top: 60px;
        z-index: 50;
    }

    
    display: block;

    .edit-name{
        margin-bottom: 10px;
        .btn{
            margin-left: 4px;
        }
    }

    .ContentEditor {

        display: block;
        section {
            margin-bottom: 5px;
            .btn-toolbar {
                margin-bottom: 5px;
                width: 100%
            }
        }

        
        padding-bottom: 200px;


        .monster-trait{
            margin-bottom: 8px;
        }

        .drop-target{
            .well{
                cursor: pointer;
                color:rgba(255,255,255,0.5);
                border: 6px dashed rgba(255,255,255,0.5);
                min-height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    text-align: center;
                }
            }
        }
    }
    
}
